@function getPaletteVariables($palette, $prefix: '', $scope: 'palette') {
  @if (not type-of($palette) == 'map') {
    @error 'Unknown palette type: #{type-of($palette)}';
  }

  $variants: ();

  @each $variant, $colors in $palette {
    @if ($variant == 'dark') {
      $variants: map-merge($variants, getPaletteVariables($colors, 'dark', $scope));
    } @else {
      @each $idx, $value in $colors {
        $key: '#{$variant}-#{to-lower-case($idx)}';

        @if ($prefix != '') {
          $key: '#{$prefix}-#{$key}';
        }

        $key: '#{$scope}-#{$key}';
        $variants: map-merge($variants, ($key: $value));
      }
    }
  }

  @return $variants;
}

@mixin createPaletteVariables($palette) {
  @each $variant, $colors in getPaletteVariables($palette, '', 'color') {
    --#{$variant}: #{$colors};
  }
}
