// $beginGradient: #f97316;
$beginGradient: #db6f31;
$endGradient: #a6a8b0;
$gradient: linear-gradient(90deg, $beginGradient, $endGradient);

.profileSection {
  align-items: center;
  height: 100vh;
}

.info {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.name {
  font-weight: 300 !important;
  font-size: 3.75rem !important;
  margin-bottom: .5rem !important;
}

.carrierTitle {
  background-image: $gradient;
  background-clip: text;
  color: transparent !important;
  font-size: 1.9rem !important;
  font-weight: 400 !important;
}

.carrier {
  background-image: $gradient;
  background-clip: text;
  color: transparent !important;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  text-align: left;
}

.btnText {
  margin-left: 8px !important;
  text-transform: capitalize;
  font-size: 18px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
