@use 'utils' as *;
@use './theme/iris/palette.module' as *;

:root {
  @include createPaletteVariables($palette);

  --foreground-color: var(--color-background-paper);
  --foreground-opacity-color: rgba(255, 255, 255, 0.2);
  --background-primary-color: var(--color-primary-main);
  --background-secondary-color: var(--color-secondary-main);
  --background-success-color: var(--color-success-main);
  --text-color: var(--color-text-primary);
  --border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--color-dark-background-paper);
    --foreground-opacity-color: rgba(17, 25, 54, 0.2);
    --background-primary-color: var(--color-dark-primary-dark);
    --background-secondary-color: var(--color-dark-secondary-dark);
    --text-color: var(--color-dark-grey-600);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0 !important;
  background-color: var(--foreground-color) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
